* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none
}

html {
	width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

body {
	height: 100%;
	width: 100%;
}

/* ==================== Layout ======================================== */

.title-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
  background-color: #fe7200;
	background-image:   url("https://www.transparenttextures.com/patterns/grid-me.png");
	-webkit-background-clip: text;
	font-size: 5em;
	font-weight: bold;
	color: transparent;
	transition: font-size .3s ease;
}

.grid-container1,
.grid-container2,
.grid-container3,
.grid-container4 {
	width: 100%;
	height: 100%;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.grid {
	height: 80%;
	max-width: 100%;
	width: 90%;
  background: radial-gradient(ellipse at center, rgba(236,240,241,1) 0%,rgba(25,25,25,1) 100%),  url("https://www.transparenttextures.com/patterns/egg-shell.png");
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 4em auto;
	border: .125em solid #ECF0F1;
}

.grid-item {
	width: 32%;
	height: 46.5%;
	background-color: transparent;
	margin: auto;
	border: .125em solid #181818;
	text-align: center;
	position: relative;
}


.grid-item-interior {
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	background-color: #ecf0f1;
background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");

	box-shadow: inset 0px 0px 20px 5px rgba(41,41,41,0.4);
}

.grid-item-interior span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	margin-top: 6.5%;
	background-color: rgba(17,17,17,0.5);
	color: #292929;
	font-size: 1.5em;
	border-top: .0625em solid #292929;
	border-bottom: .0625em solid #292929;
}

.grid-item:hover,
.grid-item:hover .left,
.grid-item:hover .right,
.grid-item:hover .door-large,
.grid-item:hover .top,
.grid-item:hover .bottom {
	border: .125em solid #FE7200;
}

/* ==================== Door Properties =============================== */

.door {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}

.door-large {
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	transition: all 0.5s ease-in-out, border 0.1s ease;
	background: #292929 url('egg-shell.png') repeat center center;
	border: .0625em solid #181818;
}

.left,
.right {
	height: 100%;
	width: 50%;
	display: inline-block;
	position: absolute;
	transition: all 0.5s ease-in-out, border 0.1s ease;
	
}

.right {
	top: 0;
	right: 0;
	border-left: .2em solid #595959;
	background: #292929 url('egg-shell.png') repeat center center;
}

.left {
	top: 0;
	left: 0;
	border-right: .2em solid #595959;
	/* background: url('/img/left-door.svg') repeat center center; */
    background-size: cover;
}

.top,
.bottom {
	height: 50%;
	width: 100%;
	display: block;
	position: absolute;
	transition: all 0.5s ease-in-out, border 0.1s ease;
	background: #292929 url('egg-shell.png') repeat center center;
}

.top {
	top: 0;
	border-bottom: .0625em solid #181818;
}

.bottom {
	bottom: 0;
	border-top: .0625em solid #181818;
}

/* ==================== Keyframe Animations =========================== */

/* ---------- Top Bounce ---------- */

@keyframes topBounce {
	0% {transform: translateY(0%);}
	10% {transform: translateY(-95%);}
	20% {transform: translateY(-55%);}
	30% {transform: translateY(-95%);}
	40% {transform: translateY(-65%);}
	50% {transform: translateY(-95%);}
	60% {transform: translateY(-75%);}
	70% {transform: translateY(-95%);}
	80% {transform: translateY(-85%);}
	90% {transform: translateY(-95%);}
	100% {transform: translateY(-100%);}
}

/* ---------- Bottom Bounce ---------- */

@keyframes bottomBounce {
	0% {transform: translateY(0%);}
	10% {transform: translateY(95%);}
	20% {transform: translateY(55%);}
	30% {transform: translateY(95%);}
	40% {transform: translateY(65%);}
	50% {transform: translateY(95%);}
	60% {transform: translateY(75%);}
	70% {transform: translateY(95%);}
	80% {transform: translateY(85%);}
	90% {transform: translateY(95%);}
	100% {transform: translateY(100%);}
}

/* ---------- Bottom Bounce Short ---------- */

@keyframes bottomBounceShort {
	0% {transform: translateY(50%);}
	10% {transform: translateY(25%);}
	20% {transform: translateY(95%);}
	30% {transform: translateY(55%);}
	40% {transform: translateY(95%);}
	50% {transform: translateY(65%);}
	60% {transform: translateY(96%);}
	70% {transform: translateY(75%);}
	80% {transform: translateY(95%);}
	90% {transform: translateY(97.5%);}
	100% {transform: translateY(100%);}
}

/* ---------- Bottom to Top ---------- */

@keyframes bottomToTop {
	0% {transform: translateY(0%);}
	10% {transform: translateY(50%);}
	20% {transform: translateY(75%);}
	30% {transform: translateY(100%);}
	40% {transform: translateY(50%);}
	50% {transform: translateY(25%);}
	60% {transform: translateY(0%);}
	70% {transform: translateY(-25%);}
	80% {transform: translateY(-50%);}
	90% {transform: translateY(-75%);}
	100% {transform: translateY(-100%);}
}

/* ---------- Up to Left ---------- */

@keyframes upToLeft {
	0% {transform: translateY(0%);}
	10% {transform: translateY(-20%);}
	20% {transform: translateY(-40%);}
	30% {transform: translateY(-50%);}
	40% {transform: translateY(-50%);}
	50% {transform: translateY(-50%);}
	60% {transform: translateY(-50%) translateX(0%);}
	70% {transform: translateY(-50%) translateX(-25%);}
	80% {transform: translateY(-50%) translateX(-50%);}
	90% {transform: translateY(-50%) translateX(-75%);}
	100% {transform: translateY(-50%) translateX(-100%);}
}

/* ---------- Up to Right ---------- */

@keyframes upToRight {
	0% {transform: translateY(0%);}
	10% {transform: translateY(-20%);}
	20% {transform: translateY(-40%);}
	30% {transform: translateY(-50%);}
	40% {transform: translateY(-50%);}
	50% {transform: translateY(-50%);}
	60% {transform: translateY(-50%) translateX(0%);}
	70% {transform: translateY(-50%) translateX(25%);}
	80% {transform: translateY(-50%) translateX(50%);}
	90% {transform: translateY(-50%) translateX(75%);}
	100% {transform: translateY(-50%) translateX(100%);}
}

/* ---------- Down to Left ---------- */

@keyframes downToLeft {
	0% {transform: translateY(0%);}
	10% {transform: translateY(20%);}
	20% {transform: translateY(40%);}
	30% {transform: translateY(50%);}
	40% {transform: translateY(50%);}
	50% {transform: translateY(50%);}
	60% {transform: translateY(50%) translateX(0%);}
	70% {transform: translateY(50%) translateX(-25%);}
	80% {transform: translateY(50%) translateX(-50%);}
	90% {transform: translateY(50%) translateX(-75%);}
	100% {transform: translateY(50%) translateX(-100%);}
}

/* ---------- Down to Right ---------- */

@keyframes downToRight {
	0% {transform: translateY(0%);}
	10% {transform: translateY(20%);}
	20% {transform: translateY(40%);}
	30% {transform: translateY(50%);}
	40% {transform: translateY(50%);}
	50% {transform: translateY(50%);}
	60% {transform: translateY(50%) translateX(0%);}
	70% {transform: translateY(50%) translateX(25%);}
	80% {transform: translateY(50%) translateX(50%);}
	90% {transform: translateY(50%) translateX(75%);}
	100% {transform: translateY(50%) translateX(100%);}
}

/* ---------- Left Bounce ---------- */

@keyframes leftBounce {
	0% {transform: translateX(0%);}
	10% {transform: translateX(-95%);}
	20% {transform: translateX(-55%);}
	30% {transform: translateX(-95%);}
	40% {transform: translateX(-65%);}
	50% {transform: translateX(-95%);}
	60% {transform: translateX(-75%);}
	70% {transform: translateX(-95%);}
	80% {transform: translateX(-85%);}
	90% {transform: translateX(-95%);}
	100% {transform: translateX(-100%);}
}

/* ---------- Right Bounce ---------- */

@keyframes rightBounce {
	0% {transform: translateX(0%);}
	10% {transform: translateX(95%);}
	20% {transform: translateX(55%);}
	30% {transform: translateX(95%);}
	40% {transform: translateX(65%);}
	50% {transform: translateX(95%);}
	60% {transform: translateX(75%);}
	70% {transform: translateX(95%);}
	80% {transform: translateX(85%);}
	90% {transform: translateX(95%);}
	100% {transform: translateX(100%);}
}

/* ---------- Rumble ---------- */

@keyframes rumble {
	0% {transform: rotate(0deg);}
	5% {transform: rotate(5deg);}
	10% {transform: rotate(0deg);}
	15% {transform: rotate(-5deg);}
	20% {transform: rotate(0deg);}
	25% {transform: rotate(5deg);}
	30% {transform: rotate(0deg);}
	35% {transform: rotate(-5deg);}
	40% {transform: rotate(0deg);}
	45% {transform: rotate(5deg);}
	50% {transform: rotate(0deg);}
	55% {transform: rotate(-5deg);}
	60% {transform: rotate(0deg);}
	65% {transform: rotate(5deg);}
	70% {transform: rotate(0deg);}
	75% {transform: rotate(-5deg);}
	80% {transform: rotate(0deg);}
	85% {transform: rotate(5deg);}
	90% {transform: rotate(0deg);}
	95% {transform: rotate(-5deg);}
	100% {transform: rotate(0deg); opacity: 0;}
}





/* ==================== Individual Door Animations ==================== */

/* ---------- Door One ---------- */

#door1 .left,
#door1 .right {
	background: #292929 url('egg-shell.png') repeat center center;
}

#door1.active .left {
	transform: translateX(-100%);
}

#door1.active .right {
	transform: translateX(100%);
}

/* ---------- Door Two ---------- */

#door2.active .door-large {
	transform: translateY(-100%);
}

/* ---------- Door Three ---------- */

#door3.active .door-large {
	transform: translateY(100%);
}

/* ---------- Door Four ---------- */

#door4.active .left {
	transform: translateY(-100%);
}

#door4.active .right {
	transform: translateY(100%);
}

/* ---------- Door Five ---------- */
#door5 {
	overflow: unset;
	z-index: 2;
}

#door5.active .left {
	transform-origin: left;
	transform: perspective(1400px) rotateY(-125deg);
}

#door5.active .right {
	transform-origin: right;
	transform: perspective(1400px) rotateY(125deg);
}

/* ---------- Door Six ---------- */

#door6.active .left {
	transform: translateY(100%);
}

#door6.active .right {
	transform: translateY(-100%);
}

/* ---------- Door Seven ---------- */
#door7 {
	overflow: unset;
	z-index: 2;
}

#door7 .door-large {
	border: none;
}

#door7.active .door-large {
	transform-origin: top;
	transform: perspective(1200px) rotateX(105deg);
}

/* ---------- Door Eight ---------- */
#door8 {
	overflow: unset;
	z-index: 2;
}

#door8 .door-large {
	border: none;
}

#door8.active .door-large {
	transform-origin: bottom;
	transform: perspective(1000px) rotateX(-105deg);
	border: none;
}



/* ---------- Door Nine ---------- */

#door9.active .left {
	transform: translateX(200%)
}

#door9.active .right {
	transform: translateX(100%);
}

/* ---------- Door Ten ---------- */

#door10.active .left {
	transform: translateX(-100%)
}

#door10.active .right {
	transform: translateX(-200%);
}

/* ---------- Door Eleven ---------- */

#door11.active .door-large {
	transform: translateY(50%);
	animation: bottomBounceShort 1s ease .5s 1 forwards;
}


/* ---------- Door Twelve ---------- */

#door12.active .left {
	transform-origin: right;
	transform: scaleX(0) translateX(50%);
}

#door12.active .right {
	transform-origin: left;
	transform: scaleX(0) translateX(-50%);
}

/* ---------- Door Thirteen ---------- */

#door13.active .left {
	animation: upToLeft .5s cubic-bezier(.1,.9,.9,.1);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#door13.active .right {
	animation: upToRight .5s cubic-bezier(.1,.9,.9,.1);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* ---------- Door Fourteen ---------- */

#door14.active .left {
	animation: leftBounce 1s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#door14.active .right {
	animation: rightBounce 1s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* ---------- Door Fifteen ---------- */

#door15.active .left {
	animation: rumble .5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#door15.active .right {
	animation: rumble .5s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* ---------- Door Sixteen ---------- */

#door16.active .left {
	animation: downToLeft .5s cubic-bezier(.1,.9,.9,.1);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#door16.active .right {
	animation: downToRight .5s cubic-bezier(.1,.9,.9,.1);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* ---------- Door Seventeen ---------- */

#door17.active .left {
	animation: topBounce 1s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#door17.active .right {
	animation: bottomBounce 1s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* ---------- Door Eighteen ---------- */

#door18.active .left {
	transform-origin: right;
	transform: translateX(-100%);
	transition-delay: 1s;
}

#door18.active .right {
	transform-origin: left;
	transform: rotateY(90deg) translateX(-50%);
}

#door18 .right {
	transition-delay: .5s;
}

/* ---------- Door Nineteen ---------- */

#door19.active .top {
	transform-origin: top;
	transform: translateY(-100%);
}

#door19.active .bottom {
	transform-origin: bottom;
	transform: translateY(100%);
}

/* ---------- Door Twenty ---------- */

#door20.active .top {
	transform-origin: top;
	animation: topBounce 1s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#door20.active .bottom {
	transform-origin: bottom;
	animation: bottomBounce 1s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* ---------- Door Twenty One ---------- */

#door21.active .top {
	transform-origin: bottom;
	animation: bottomToTop 1.2s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#door21.active .bottom {
	transform: translateY(100%);	
}

/* ---------- Door Twenty Two ---------- */

#door22.active .top {
	width: 185%;
	transform: rotate(45deg) translateY(-100%);
}

#door22.active .bottom {
	width: 185%;
	transform: rotate(-45deg) translateY(100%);
}

/* ---------- Door Twenty Three ---------- */

#door23.active .top {
	width: 185%;
	transform-origin: left;
	transform: translateX(-10%) rotate(-45deg) translateY(-100%);
}

#door23.active .bottom {
	width: 185%;
	transform-origin: left;
	transform: translateX(-10%) rotate(45deg) translateY(100%);
}

/* ---------- Door Twenty Four ---------- */

#door24.active .top {
	transform: translateX(-100%);
}

#door24.active .bottom {
	transform: translateX(100%);
}

/* ======================= Media Queries ======================= */

/* ============================================================= */
/* ===================== (max-width: 70em) ===================== */
/* ============================================================= */

	@media all and (max-width: 70em) {
		.grid-container1,
		.grid-container2,
		.grid-container3,
		.grid-container4,
		.grid {
			height: 100%;
		}

		.grid-item {
			width: 45%;
			height: 30%;
		}

		.grid-item-interior span {
			font-size: 1em;
			height: auto;
		}

		.title-container {
			font-size: 3em;
		}
	}

/* ============================================================= */
/* ===================== (max-width: 40em) ===================== */
/* ============================================================= */

	@media all and (max-width: 40em) {
		.grid-container1,
		.grid-container2,
		.grid-container3,
		.grid-container4,
		.grid {
			height: 200%;
		}

		.grid-item {
			width: 80%;
			height: 15%;
		}

		.grid-item-interior span {
			font-size: .8em;
		}

		.title-container {
			font-size: 2em;
		}
	}

.welcome{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-welcome{
    padding: 50px;
    border-radius: 10px;
    background-color: #013060f1;
    min-width: 500px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
